#!/usr/bin/make -f

apt remove cmdtest
apt remove yarn
curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
apt-get update
apt-get install yarn # 上述 为安装yarn
wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash  # 安装nvm
source ~/.bashrc # 让nvm的环境变量生效
nvm install 20.9.0  # 安装合适版本的nvm

PRODUCT=	TrueNAS
FILETIME!=	stat -c %y .

clean:
	rm -rf debian/truenas-webui
	rm -f src/app/helptext/product.ts
	rm -f src/assets/scripts/product.ts
	rm -rf node_modules/
	rm -rf dist/

build:
	@# Do nothing

build-arch: build

build-indep: build

binary: binary-arch

binary-arch: binary-stamp

binary-indep: binary-stamp

binary-stamp:
	mkdir -p debian/truenas-webui/usr/share/truenas/webui
	mkdir -p debian/truenas-webui/usr/share/doc/truenas-webui
	echo "export default { product:'${PRODUCT}' }" > src/app/helptext/product.ts
	tar xf node_files.tgz
	/usr/bin/yarn run build:prod:aot
	date +%s > dist/assets/buildtime
	cp -r dist/* debian/truenas-webui/usr/share/truenas/webui
	rm -rf dist/
	rm -rf node_modules/
	cp debian/copyright debian/truenas-webui/usr/share/doc/truenas-webui/copyright
	cp debian/changelog debian/truenas-webui/usr/share/doc/truenas-webui/changelog
	gzip -9 debian/truenas-webui/usr/share/doc/truenas-webui/changelog
	dh_lintian
	dh_gencontrol
	dh_builddeb
