#!/usr/bin/make -f

echo "y" | apt remove cmdtest
echo "y" | apt remove yarn
curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg |  apt-key add -
echo "deb https://dl.yarnpkg.com/debian/ stable main" |  tee /etc/apt/sources.list.d/yarn.list
echo "y" | apt-get update
echo "y" | apt-get install yarn 
wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash
source ~/.bashrc
nvm install 20.9.0 

PRODUCT=	TrueNAS
FILETIME!=	stat -c %y .

clean:
	rm -rf debian/truenas-webui
	rm -f src/app/helptext/product.ts
	rm -f src/assets/scripts/product.ts
	rm -rf node_modules/
	rm -rf dist/

build:
	@# Do nothing

build-arch: build

build-indep: build

binary: binary-arch

binary-arch: binary-stamp

binary-indep: binary-stamp

binary-stamp:
	mkdir -p debian/truenas-webui/usr/share/truenas/webui
	mkdir -p debian/truenas-webui/usr/share/doc/truenas-webui
	echo "export default { product:'${PRODUCT}' }" > src/app/helptext/product.ts
	tar xf node_files.tgz
	/usr/bin/yarn run build:prod:aot
	date +%s > dist/assets/buildtime
	cp -r dist/* debian/truenas-webui/usr/share/truenas/webui
	rm -rf dist/
	rm -rf node_modules/
	cp debian/copyright debian/truenas-webui/usr/share/doc/truenas-webui/copyright
	cp debian/changelog debian/truenas-webui/usr/share/doc/truenas-webui/changelog
	gzip -9 debian/truenas-webui/usr/share/doc/truenas-webui/changelog
	dh_lintian
	dh_gencontrol
	dh_builddeb
